<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.blescaninteraction">

    <!-- Bluetooth permissions and features -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Permissions to fetch user data over network, contact the proximity beacon service,
       and access location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <!-- I'm using Proximity Beacon and Nearby Messages -->
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBQeoXarzwhUo3i8ojpLfovqN0GYp6RY_Q"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b268d04d503ca54506d3114138138a318db0e2a2" />
    </application>

</manifest>